@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* prevent horizontal scroll */
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
    background-color:#FFF2E0;
    width: 40rem;
    border-radius: 1rem;
}
.main-heading{
    font-size: 3.5rem;
    font-weight: 800;
    color:#FFF2E0;
    margin-top: 10rem;
    text-align: center;
    font-family: "Caprasimo", serif;
}
.quote {
    font-size: 2rem;
    
    text-align: center;
    padding: 60px 20px;
    color: black;
    font-family: "Caprasimo", serif;
}
.line{
    width: 36rem;
    height: 2px;
    background-color: black;
    margin-left: 25px;
    margin-right: 20px;
}
.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem;
}
.author{
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: "Caprasimo", serif;
}
.icon img{
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
}
.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #FFF2E0;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 50%;
    color: #FFF2E0;
    transition: 0.3s ease-in-out;
    margin: 5px;
}

.social-icon a:hover{
    color: black;
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 0 25px #FFF2E0;
    background-color:#FFF2E0;
}

.footer {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px 10px;
    color: #ffff;
    font-size: 15px;
    bottom: 0;
    width: 100%;
   position: absolute
}